/* src/index.css */

@import "tailwindcss";
:root {
  --border: 240 5% 91%;
  --input: 240 5% 91%;
  --ring: 240 5% 65%;
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;

  --primary: 240 5% 60%;
  --secondary: 240 4.8% 95.9%;
  --destructive: 0 84.2% 60.2%;
  --muted: 240 4.8% 95.9%;
  --accent: 240 4.8% 95.9%;
  --popover: 240 5% 91%;
  --card: 0 0% 100%;
}
